@charset "UTF-8";

/* Float container */
#p-float {
	max-width: 1200px;
	margin: 0 auto;
	/* Clearfix */
	overflow: auto;
}

#p-float::after {
	/* Clearfix */
	content: "";
	clear: both;
	display: table;
}
/* Product items */
div.p-float {
	float: left;
	width: 25%;
}

div.p-float-in {
	box-sizing: border-box;
	margin: 5px;
	padding: 10px;
	border: 1px solid #BDBDBD;
}

img.p-img {
	width: 100%;
	height: 260px;
}

div.p-name { 	 	
	font-weight: bold;
	font-size: 1.1em;
}

div.p-price {
	color: #f44242;
}

div.p-desc {
	color: #888;
	font-size: 0.9em;
}

button.p-add {
	background: #f46b41;
	color: #fff;
	border: none;
	width: 100%;
	padding: 10px;
	margin: 10px 5px 5px 5px;
	font-size: 1.1em;
	font-weight: bold;
	cursor: pointer;
}
/* Responsive */
@media only screen and (max-width: 1024px) {
	div.p-float {
		width: 33%;
	}
}

@media only screen and (max-width: 600px) {
	div.p-float {
		width: 50%;
	}
}
/* [DOES NOT MATTER] */
* { box-sizing:border-box }
*:before, *:after { box-sizing:inherit }

/* Basic styles */
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: @font-family-base;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    line-height: 1.42857143;
    color: #555;
    height: 600px;
}

a { text-decoration: none }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    margin-top: 15rem;
    text-align: center;
}
/* Header styles */
header {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 7rem;
    padding: 0;
    position: fixed;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index : 10;
}

.site-logo {
    transition: color 200ms cubic-bezier(.55, 0, .1, 1);
    color: #30acff;
    font-size: 3rem;
}

.ok-header__logo:hover {color: #546edb}

/* okayNav styles */
body.okayNav-loaded {
  overflow-x: hidden;
}
.okayNav:not(.loaded) {
  visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.okayNav ul {
  /* We want two navigations - one hidden and one visible */
  float: left;
}
.okayNav a {
  /* Links general styling */
  color: #2e2e33;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
.okayNav__nav--visible {
  overflow: hidden;
  white-space: nowrap;
}
.okayNav__nav--visible li {
  display: inline-block;
}
.okayNav__nav--visible a {
  /* Link styling for the visible part of the nav */
  display: block;
  transition: color 200ms cubic-bezier(0.55, 0, 0.1, 1);
  padding: 15px 15px;
}
.okayNav__nav--visible a:hover {
  color: #546edb;
}
/* Link styling for the off-screen part of the nav */
.okayNav__nav--invisible {
  position: fixed;
  top: 70px;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #fff;
}
.okayNav__nav--invisible a {
  background: #fff;
  width: 240px;
  display: block;
  padding: 15px;
}
.okayNav__nav--invisible.nav-left {
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.okayNav__nav--invisible.nav-right {
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.okayNav__nav--invisible.transition-enabled {
  transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
}
.okayNav__nav--invisible.nav-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/* Kebab icon */
.okayNav__menu-toggle {
  position: relative;
  transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  cursor: pointer;
  width: 40px;
  height: 20px;
  float: left;
  z-index: 1;
  top: 15px;
}
.okayNav__menu-toggle.okay-invisible {
  position: absolute;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.okayNav__menu-toggle span {
  display: block;
  position: absolute;
  margin: auto;
  height: 4px;
  width: 4px;
  background: #2e2e33;
  border-radius: 50%;
  left: 0;
  right: 0;
  pointer-events: none;
}
.okayNav__menu-toggle span:nth-child(1) {
  top: 0;
}
.okayNav__menu-toggle span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.okayNav__menu-toggle span:nth-child(3) {
  bottom: 0;
}
.okayNav__menu-toggle.icon--active {
  /* Kebab icon when off-screen nav is open */
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.okayNav__menu-toggle.icon--active span {
  background: #546edb;
}

#headmenu {
  text-align:center;
  width: 100%;
  background: #bebebe;
  padding: 0;
  margin: 0;
  height: 60px;
  position:relative;
}

#headmenu ul { /*첫번째 메뉴 배경색상*/
  background: #dc3545;
  list-style:none;
  padding:0 20px;
  margin: 0;
  height: 60px;

}


#headmenu ul li {
  display: inline-block;
}


#headmenu ul li a { /*메뉴바 글씨 색상*/
  color:#f8f9fa;
  display:block;
  padding:0px 40px;
  text-decoration:none;
  float: left;
  height: 60px;
   line-height: 60px;
}

#headmenu ul li:hover { /*마우스 올릴시 배경색*/
  background: #f8f9fa;
}


#headmenu ul li:hover > a{
    color:#343a40;
}

#headmenu ul li:hover > ul {
  display:block;
}

#headmenu ul ul { /*하단 메뉴 css 관련*/
  background: #dc3545;
  padding:0;
  text-align: center;
  display:none;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0px;
}

.redfamily {
	color: red;	
}
.search-box,.close-icon,.search-wrapper {
	position: relative;
	padding: 10px;
}
.search-wrapper {
	width: 500px;
}
.search-box {
	width: 80%;
	border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
}
.search-box:focus {
	box-shadow: 0 0 15px 5px #b0e0ee;
	border: 2px solid #bebede;
}
.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 18px;
	position: absolute;
	background-color: #FA9595;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 10px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}

#search-option {
		border-radius: 0; 
		-webkit-appearance: none; 
		-moz-appearance: none; 
		appearance: none; 
		border-style: none;
		}
	#search-bar{
	
		margin-top:20px;
	}
	.search-wrapper{
		width: 100%; 
		height:100px; 
		background-color:white;
		border-top : 1px solid #e5e5e5;
	}
.search-box:not(:valid) ~ .close-icon {
	display: none;
}
#search-bar{
	text-align:center;
}
.show_size_amount{
	width:100%;
	display : flex;
	align-items : flex-end;
	flex-direction : column;
	float : right;
	margin-bttom : 10px;
}
.orderamount{
  border-color : #EAEAEA;
  border-bottom : solid 1px;
  border-top : solid 1px ;
  height : 70px;
  width : 45%;
  float : right;
  vertical-align: text-middle;
  background-color:#EAEAEA;
  margin-top : 10px;
  margin-right : 45px;
}
#orderamoutnumber{
  margin-top : 20px;
  padding : auto;
  text-align : left;
}

/*모바일 용 상단 네비게이션 바 css */

#mobilebanner{
	
	display : none;
	padding:0;
}
#navbarDropdown{
	
	color:black;
	font-size: 1.5rem;
	font-weight : 600;
	margin-left : 20px;
	margin-top : 15px;
	margin-bottom : 15px;
	border-bottom : 1px solid black;
}
.dropdown-toggle::after {
	
	float : right;
	margin-right : 20px;
}
#mobiledropdownmenu{
	
	border: 0;
    margin-left: 15px;
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

/**/
#example{
	
	
	
}
/*상품 bootstrap card 군 css*/
#productcard{
	border:0px;
	margin : 10px;
	border-bottom : 1px solid #e5e5e5;
	min-width : 20%;
}
#product_title_text{
	
	text-align : right;
	font-size: 11px;
    font-weight: 600;
	
}

#product_content_text{
	text-align : right;
	color: #666;
	font-size: 12px;
}
#product_price_text{
	
	text-align : right;
	font-size: 19px;
    font-weight: 600;
}
/*slick slider check*/
#mobileslider{
	
	display:none;
	
}
#mobildecard{
	
	border : 0;
	
}
#mobile_sec1_text{
	
	display : none;
}
#productsize{
	
	font-size : 1.3rem;
	font-weight : 700;
	
}
#productsizecounter{
	
	font-size: 1.3rem;
    font-weight: 700;
    border : 1px solid #e5e5e5;
}

#shoesorder{
	
	width:50%;
	float:right;
}
/**/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@media (max-width: 760px) { 

	#header{
		display : none;
	}
	#mobilebanner{
		display : block;
	}
	main{
		margin-top: 8.0rem;
	}
	#example{
		margin-top:8.0rem;
	}
	#card_group{
	
		display : none;
		
	}
	#mobileslider{
	
		display : block;
		 animation: fadein 6s;
	}
	#mobile_sec1_text{
		
		display : block;
			
	}
	#pc_se1_text{
	
		display : none;
	
	}
	#example {
	margin-top: 10rem;
	}
	
	#shoesorder{
	
		width : 100%;	
	}
	.show_size_amount{
	width:100%;
	display : inlince;
	margin-bttom : 10px;
	}
	#pagenation{
		display:none;
	}
		
}

